[2020-04-25 11:44] shntnu opened #3 "Project scaffold vs workflow module"
We need two distinct functionalities:

1.  A _workflow submodule_, which contains all the logic, i.e.,  code + configurations + instructions for reproducing a workflow
2. A _project scaffold_, which defines other aspects, excluding logic, that will help standardize projects. This could include license files, README, directory structures, etc.

Because we cannot at present pull from a template repo

[2020-04-25 12:55] shntnu commented on #3
A _project scaffold_ might actually be better defined via a package like [`usethis`](https://usethis.r-lib.org/)

[2020-04-25 16:44] gwaygenomics commented on #3
Yes, this is exactly as I envision it. The scaffold template will store instructions on how to initialize and update the [workflow submodule](https://gist.github.com/gitaarik/8735255).

I've never used `usethis` before so I don't know how the scaffold would work using it. Is it easy to update versions of the workflow module and is the commit hash explicit in `usethis`? This is the advantage of git

[2020-04-25 17:12] shntnu commented on #3
A clarification to make sure we are on the same page
- A package like `usethis` is an implementation of the project scaffold concept.
- A GitHub template is an another implementation of this concept.
- The workflow submodule is a different concept (of which GitHub submodules is an implementation).

We'd need to create a package like `usethis`; the current package serves a very specific need (creat

[2020-04-28 14:01] gwaygenomics commented on #3
Thanks for these thoughts @shntnu - I agree and am on board! The package idea is intriguing and could be something we keep in the back of our thoughts.

[2020-05-05 19:57] ErinWeisbart opened #5 "Level of information in config.yaml files"
I'm wondering if the config files should be as streamlined as possible or if they should include as much user-friendly information as possible or somewhere in between.
If streamlined, will detailed information live elsewhere? If so, where? And does it make sense to write it or at least take notes there as we go?

e.g.
streamlined:
[code]

verbose:
[code]

in-between:
[code]

[2020-05-05 19:57] ErinWeisbart commented on #5
(filling in the details/documentation as we go helps me to make sure I'm really understanding things)

[2020-05-06 21:07] gwaygenomics commented on #5
Then let's do it!

We can always change things later

[2020-05-06 21:09] gwaygenomics commented on #5
I'd say err on the side of verbose. Also perhaps consider a blend. Add documentation to the config file but maybe there could be a companion document describing how to fill out the config file.

I think a scientist with your skillset is the target audience/users for this code, so we should follow your intuition here.

[2020-05-07 19:49] ErinWeisbart commented on #5
We'll move forward keeping actual config file streamlined and create corresponding verbose config documentation file to be written as we go.

[2020-05-07 19:49] #5 closed

[2020-05-20 19:47] gwaygenomics opened #10 "Prepare repository for production"
We will need to rethink several decisions before the recipe is production-ready. We will use this issue to document these items.

## Checklist

- [ ] Determine where documentation lives (i.e. does it stay as READMEs or does it move to the wiki?)
- [ ] Define clear user interaction via config or command line flags (likely means we'll migrate command line flags to config)
- [ ] Indicate in documenta

[2020-05-21 16:09] ErinWeisbart commented on #10
1) Where does documentation live? i.e. does it stay as READMEs or does it move to the wiki?

[2020-05-21 16:26] ErinWeisbart opened #11 "Create 0.preprocess-sites/n.determine-site-quality"
The CellProfiler analysis pipeline now contains measurements that address the quality of images/data at a given site. It would be nice to have a pipeline that outputs a summary so that it can be viewed at a glance. Such as:

- Confluent regions
  - list all sites with confluent regions and their % confluent
  - map all sites with confluent regions

- MeasureImageQuality
  - plot power log log slop

[2020-05-21 16:30] ErinWeisbart commented on #11
I don't currently see the need to integrate it into flagging/filtering sites in downstream data analysis. But it we chose to in the future, it may allow us to filter and hence use datasets that are even more problematic than those we have been working with (e.g. sets where the autofocus left half the sites out of focus).

[2020-05-21 16:34] ErinWeisbart commented on #11
As I see it right now:
1) It would be helpful for the assay dev team to have when communicating with the wet lab team.
2) If the assay dev team needed to re-run analysis, these are useful metrics for tweaking the pipeline.
3) If profiling doesn't go smoothly or some sites seem to be outliers, this would be an easy first place to look for an explanation.

[2020-05-21 16:40] ErinWeisbart commented on #11
Might also fit nicely in with 8.visualize-plate-layout.ipynb with a renaming?

[2020-05-21 17:37] gwaygenomics commented on #10
As @ErinWeisbart notes in https://github.com/broadinstitute/pooled-cell-painting-profiling-recipe/pull/8#issuecomment-631600540:

This is in reference specifically to `0.merge-single-cells.py` but it is more general referring to all cases of user interaction in config vs. user interaction via command line flags

[2020-05-26 20:10] ErinWeisbart opened #12 "Error message for missing control_barcodes in 1.process-spots"
In 1.process-spots at this point:
[code]
it will error if there are no non-targeting controls at a site. This can happen because 1) biologically, the site actually doesn't contain control_barcodes, or 2) the barcodes you have listed in your config file don't match what is used in the experiment for control_barcodes.

Add in an error message to explain this, ideally parsing between the conditions.

[2020-05-27 18:56] ErinWeisbart commented on #10
In the config files, add documentation to every step that pulls files output by a previous step to indicate that the config must also be correctly for that output step.
e.g.
2.process-cells loads a .csv output by 1.process-spots
When running 2.process-cells.py, it looks in the process-spots section of the config_utils.py to know where to find that output file.

Also add descriptive error messages

[2020-05-28 21:08] gwaygenomics commented on #3
closing in favor of the submodule approach in https://github.com/broadinstitute/pooled-cell-painting-profiling-template

Indeed a package would be super (and much more easily distributed) so it'll be great to refer back to this issue once we revisit.

[2020-05-28 21:08] #3 closed

[2020-05-28 21:13] gwaygenomics opened #15 "Normalize Single Cells by Site"
For example reduced representation experiments (230 genes; 2-4 wells) (~150,000 cells) we are able to normalize single cells in a single file using standard approaches. Two important notes:

* this approach will not adjust for technical artifacts induced by site and well
* this approach will not scale particularly easily to the millions of cells in whole genome experiments

We need to find a solut

[2020-05-28 21:16] gwaygenomics commented on #15
It is likely that the single cell normalization step should happen _before_ aggregation (and not during normalization as #16 might suggest)

[2020-05-29 21:18] ErinWeisbart commented on #10
Currently in 0./2.process-cells we assign a cell quality category to un-assigned cells that is n+1 where n is the number of defined categories. This will probably need to change when we move to a more complicated and/or Bayesian cell category model. Discussed [here](https://github.com/broadinstitute/pooled-cell-painting-profiling-recipe/pull/13/files#r432716193).

[2020-06-09 19:42] ErinWeisbart opened #19 "0./1.process-spots duplicate graphs"
When I run CP151A1 through 1.process-spots the output of gene_by_cell_category_summary_count.tsv and guide_by_cell_category_summary_count.tsv are the same.

We need to track down why.

[2020-06-09 19:47] ErinWeisbart commented on #19
Likewise, full_cell_category_scores.tsv is the same as full_cell_category_scores_by_guide.tsv (except the latter has one extra column).

[2020-06-11 16:17] ErinWeisbart opened #20 "Write a combine batches module"
Since a single experiment is often done in multiple plates/batches, it would probably be good to add in a module where we can combine data from a list of batches so we can get an overview of the whole experiment.
We certainly want cell quality overview. Will think about what else would be helpful to have.

[2020-07-09 16:22] ErinWeisbart opened #24 "Overwrite existing files True/False"
It would be nice (though not necessary) to add in an additional setting that toggles True/False for overwriting existing files.
Default behavior in the .yaml should be set to true. But if, for example, you got most of the way through a module before it errored or got shut down, or a single site was missing its input file and so failed to run, it would be nice not to have to re-process everything.

[2020-07-09 19:03] ErinWeisbart opened #25 "Sites erroring in 2.process-cells"
Currently 10 sites error in 2.process-cells with "151B2-B1-87 data not found" message.
We need to dig a bit to figure out why those particular sites are erroring. If possible, a more descriptive error message would be nice to implement to assist in tracking down why those sites error.
151B2-B1-83
151B2-B1-85
151B2-B1-87
151B2-B1-88
151B2-B1-89
151B2-B2-11
151B2-B2-16
151B2-B2-19
151B2-B2-22
151B2-

[2020-07-15 18:36] ErinWeisbart opened #26 "process_cells config mismatch"
In the config for process_cells we have `prefilter-features` as a Bool but in 2.process-cells.py is requires running 0.preprocess-sites.py first so that you have a prefilter file as input.

@gwaygenomics What is the goal of this config Bool?
Do we want to update 2.process-cells.py to allow for not using a prefilter file? Or do we want to remove the input from the config?

[2020-07-17 16:43] ErinWeisbart opened #28 "Refactor 8.image-and-segmentation-qc"
Create a QC yaml file for 8.image-and-segmentation-qc.
See #23 for discussion of approach.

[2020-07-17 18:15] ErinWeisbart opened #29 "Dig into alignment flag triggers in 8.image-and-segmentation-qc.py"
Look carefully at alignment in a couple batches of data and determine qc thresholds.
Compare to alignment qc thresholds Beth determined with WG screen images.
Either:
- Develop method for simply setting cutoff and build it into recipe step
- Have recipe output .csvs for a few different qc thresholds so that the correct one can be chosen post hoc

[2020-07-20 19:45] #11 closed

[2020-07-22 16:32] gwaygenomics commented on #24
these issues have been very helpful as I'm marching towards version 0.1 release. I am working on this issue now.

I have one quick question @ErinWeisbart - what is your rationale for default being `force_overwrite: true`? My thinking is that the default should be false. My rationale here is as you say:

but we don't want the next run to overwrite everything already executed, correct? It would be g

[2020-07-22 17:05] ErinWeisbart commented on #24
I was thinking `true` as it is the least likely to produce errors. If someone changes any config settings in between running parts of the data then if overwrite is `true` all of the data will be processed similarly. If 'false' and they don't realize they've changed config settings then they'll end up with two halves processed dissimilarly which may lead to a downstream mess. Choosing not to overwr

[2020-07-22 17:28] gwaygenomics commented on #24
💯  YES - ok, I agree totally. Stability > Efficiency for this codebase and our users. Thanks!

[2020-07-22 19:39] gwaygenomics commented on #26
yeah, i agree this is weird... lets remove prefilter-features from the config

[2020-07-22 19:42] gwaygenomics opened #32 "Metadata in 7.visualize-cell-summary.py"
in [these lines](https://github.com/broadinstitute/pooled-cell-painting-profiling-recipe/blob/master/0.preprocess-sites/7.visualize-cell-summary.py#L89-L95) we load metadata and append to a `metadata_list`. However, this is never used in this script.

I did not see this when I reviewed #18, but I ran into it now when I came across this error:

[code]

@ErinWeisbart - is it safe to remove metadata

[2020-07-22 19:59] ErinWeisbart commented on #32
Yes. It is safe to remove those lines as well as line `65 metadata_list = []`
It's an artifact of leaving out some outputs that were in the original script ([see discussion here](https://github.com/broadinstitute/pooled-cell-painting-profiling-recipe/pull/18#issuecomment-641701112_)).
Sorry for missing that.

[2020-07-22 20:36] gwaygenomics commented on #24
I am thinking about how a user might interact with `force`. Very soon, there are two ways to ways to invoke "force" (i.e. overwriting files):

* by setting `force_overwrite: true` in the config of the particular script
* by specifying `--force` in the command line

A couple of decisions that need to be made:

1. Which one takes priority?
    * Currently, I am thinking that the command line should

[2020-07-22 20:48] gwaygenomics commented on #12
Amazing find! Thanks for documenting this. One thing that would amp the value of this issue up is to also include the error message you received that led you to discover the bug. (no need to do now, I just fixed this)

[2020-07-22 20:53] gwaygenomics commented on #12
btw, the solution in bc6dbae2a12b34522e45e3c475b1f042a5714642 also solves the problem of counting NT barcodes _when there are more than one kind_

[2020-07-22 21:04] gwaygenomics opened #35 "Splitting full site annotation in 4.image-and-segmentation-qc"
This code block is giving me some trouble:

https://github.com/broadinstitute/pooled-cell-painting-profiling-recipe/blob/068c7eae79f56a50732fdf173902dc596c95ce3f/0.preprocess-sites/8.image-and-segmentation-qc.py#L202-L204

A couple notes:
* Is the site_full always going to be coded in this way? i.e. `Plate`, then `Well`, then `Site`?
* I've already encountered when site_full is not split by `-` (i

[2020-07-23 16:03] ErinWeisbart commented on #35
The way that we have our CellProfiler analysis pipeline *currently* set, the answer is yes, the output is always Plate_Well_Site (so site_full will always fit that split). It is possible one could change that part of the CellProfiler pipeline (there would be no reason for Beth or I to do so at this point).

In the Image.csv there are Metadata_Plate, Metadata_Well, and Metadata_Site columns so we c

[2020-07-23 16:08] ErinWeisbart commented on #24
Can you explain the rationale behind using any command line actions? Shouldn't we have everything in the config file?
If I'm the target user, I wouldn't even consider that I might need/want to use command line flags as it seems the whole point of having such a thorough config file is that everything is tunable in a clear, easy manner.

If we do include both, I agree that command line should take p

[2020-07-23 16:09] gwaygenomics commented on #35
This is great to know - given that I have built up some momentum, I will take care of this (I also have some example data that you sent). I think the best use of your time in this project now is reviewing the PRs and checking my logic. We are close to 0.1!

[2020-07-23 18:24] gwaygenomics commented on #24
Right now the only thing that is not in the config file is the name of the config file itself. The way that the recipe steps get this information is through a command line argument. For example:

[code]

this is how each of the recipe steps are invoked in the weld. I can imagine a user having a set of different configuration files lying around that they can slot in by editing the [`weld.sh`](https

[2020-07-28 12:11] gwaygenomics commented on #25
@ErinWeisbart - can I assign this issue to you? We'll need to get this sorted out before version 0.1 release.

If you are able to take this on, is there anything I can do to help?

[2020-07-28 12:18] gwaygenomics opened #36 "Add command line option to reprocess files without overwriting existing data"
This is an advanced option, meant to be invoked via the command line, and will override the `force: true` option in the config file. **This is a fairly dangerous operation that should only be used by experts**. Using the flag may compromise the weld by processing the data more than once with a possibly different recipe.

We discussed adding this feature in https://github.com/broadinstitute/pooled-

[2020-07-28 12:19] gwaygenomics commented on #24
addressed in #34

[2020-07-28 12:21] gwaygenomics commented on #19
this seems like a problem. @ErinWeisbart - I think that you're equipped to track this down, do you have the bandwidth? Please let me know if not, I can keep steam rolling through!

[2020-07-28 12:23] gwaygenomics commented on #10
this issue is too broad to be useful. Closing in favor of more succinct issues and issue tracking via milestones.

[2020-07-28 12:23] #10 closed

[2020-07-28 21:08] ErinWeisbart commented on #25
I re-downloaded the files and didn't get any errors this time, so the files must have been corrupted in download the first time.
So I think we can just close this.

[2020-07-28 21:21] gwaygenomics commented on #25
the best kind of bug fix!

Is it worth opening a new issue to check for corrupted files? I wonder if this could be part of the "more descriptive error message". f"Potentially corrupted files found in site: {site} - data failed to process " 👈 maybe something like this?

[2020-07-29 16:12] ErinWeisbart commented on #25
I don't have a great understanding of the failure space, so I'm not sure what my answer is.
Is a corrupted file the only thing (or almost the only thing) that would cause an error like that? If so then just adding in that error message sounds great.
If many causes are possible/likely, then can we add in some way to check that the file is indeed corrupted and then give your message?
Or we could sta

[2020-07-29 17:01] ErinWeisbart commented on #19
**In the original pipeline**, `gene_by_cell_category_summary_count.tsv` contains:
Barcode_MatchedTo_GeneCode | Cell_Category | Cell_Count_Per_Gene | Cell_Class | ImageNumber | site

`guide_by_cell_category_summary_count.tsv` contains:
Barcode_MatchedTo_GeneCode | Barcode_MatchedTo_Barcode | Cell_Category | Cell_Count_Per_Gene | Cell_Class | ImageNumber | site

So `gene_by_cell_category_summary_cou

[2020-07-29 18:29] #12 closed

[2020-07-29 18:29] #26 closed

[2020-07-29 18:29] #32 closed

[2020-07-29 18:36] gwaygenomics commented on #25
Good point - we definitely don't know the complete failure space. It does seem likely that more than just a corrupted file will throw the error...

I agree that we should track errors somewhere (github issues has worked well so far) and solve them as we get to them.

[2020-07-30 12:42] #24 closed

[2020-07-30 13:22] gwaygenomics commented on #35
Having trouble finding which column to use in `image.csv` - maybe I am looking at the wrong file?

The only metadata columns I see in this file are:

Metadata_FileLocation | Metadata_Frame | Metadata_Series | Metadata_Site | Metadata_TopFolder
-- | -- | -- | -- | --
  | 0 | 0 | Site_1 | CP074A_A1

Is this all the info I need? It still seems a bit dangerous to split off `Metadata_TopFolder`. I will

[2020-07-30 13:29] gwaygenomics commented on #19
working on this now

[2020-07-30 13:41] gwaygenomics commented on #19
I am a bit concerned by this - I am seeing the column `Barcode_MatchedTo_Barcode` in that file in my current, most up to date pipeline. I am wondering if things didn't sync properly, or if some metadata config is wonky.

[2020-07-30 14:57] gwaygenomics commented on #19
Documenting my approach:

## Perturbation Summary Counts

Add Barcode_MatchedTo_Barcode to guide_by_cell_category_summary_count.tsv

I did _almost_ exactly this. I merged the two files together and renamed it `cell_perturbation_category_summary_counts.tsv`. I need to add a visualization of this file somewhere in `3.visualize-cell-summary`.

## Removal of `full_cell_category_scores.tsv`

This is an

[2020-07-30 17:37] ErinWeisbart commented on #35
We processed CP074A differently. So yes, it used TopFolder but CP151 and all future batches use Plate, Well, and Site.
I suggest you switch to using data from a plate of CP151 for building/testing v.1 as it is slightly different in many ways from the batches of CP074 and before.

[2020-07-30 17:48] gwaygenomics commented on #35
cool - so the columns in `image.csv` will be `Metadata_Plate`, `Metadata_Well`, and `Metadata_Site`?

[2020-07-30 18:23] gwaygenomics opened #38 "Bugs in 4.image-and-segmentation-qc.py"
Noting two things to be fixed in a future pull request:

### `force` not defined

[code]

### Error concatenating

[code]

These should be quick fixes

[2020-07-30 18:34] #19 closed

[2020-07-30 21:14] gwaygenomics opened #40 "Confusing code block in 4.image-and-segmentation-qc.py"
The following code block is giving me problems to reproduce 👇  (copied in full below as well)

https://github.com/broadinstitute/pooled-cell-painting-profiling-recipe/blob/6ff26253d6d653f012878ee16a82ad34c089bf53/0.preprocess-sites/4.image-and-segmentation-qc.py#L459-L479

In #39  I move the `image.csv` processing away from `4.image-and-segmentation-qc.py` into an earlier step. In this way we are

[2020-07-30 21:20] gwaygenomics commented on #25
I'm going to move this issue off the the version 0.1 milestone - we can continue with it open, but I suspect that we'll close it in favor of more specific issues that we'll inevitably come across in future experiments

[2020-07-31 16:05] ErinWeisbart commented on #40
Are you working off of CP151 data? Older batches don't have those measurements.

[2020-07-31 16:10] ErinWeisbart commented on #40
We could add in for this step (as well as the PLLS and saturation plots) a logic that says if those columns can't be found then skip that unit in case a user accidentally removes those measurements from the CP pipeline?

[2020-07-31 17:30] gwaygenomics commented on #40
Yep

I am 100% for this strategy. In general, I'm a tad bit concerned that these QC scripts will fail out if CellProfiler output updates. This is exactly what I was trying to adapt to in the beginning! I will add the checks in #39

[2020-07-31 17:42] ErinWeisbart commented on #40
There are `Correlation_Correlation_` columns in all the `Image.csv` files output by CP for all the CP151 data, so we need to take another look at the creation of the image_df?

[2020-07-31 17:45] ErinWeisbart commented on #40
Oops! I take that back. They are there for CP151A2 and B2 but not for A1 and B1. So sorry about the confusion.

[2020-07-31 17:46] ErinWeisbart commented on #40
They *should* be in all future batches, but adding in the check if column exists should solve the issue now and in the future :)

[2020-07-31 19:35] gwaygenomics opened #41 "enhancement/fix needed in saturated_sites.csv"
I am going through 4.image-and-segmentation.py in much more detail in #39 - the following code block is giving me some trouble:

https://github.com/broadinstitute/pooled-cell-painting-profiling-recipe/blob/b8c9288c0ab8b04e4ce284be5ba9aab44a6ce678/0.preprocess-sites/4.image-and-segmentation-qc.py#L345-L357

I am trying to think through what this is doing (so please bear with me!)

There are two dif

[2020-07-31 20:24] ErinWeisbart commented on #41
There are two categories of images - cell painting images (that make the cp_sat_df) and barcoding images (that make the bc_sat_df). Each has a different threshold for triggering a saturated warning  - CP if an image is > 1% saturated, BC if an image > .2% saturated (which is determined by the `ImageQuality_PercentMaximal_` column in the Image.csv).

My goal was to output a list of sites that fail

[2020-07-31 20:42] gwaygenomics commented on #40
Got it! Super helpful comments

I add column checks in eff296e32402fb92981d544c2fccc3eeadbc1eaf. I can also confirm that the code runs in the other wells when `Correlation_Correlation_` is present

[2020-07-31 20:46] gwaygenomics commented on #41
ok cool - I think I got it.

#39 is already getting kinda bloated though - Let's address this issue in the next PR. After we merge #39, do you want to give it a shot? I'm going to shift my focus early next week to organizing the template, migrating working config files, and actually performing our first weld.

[2020-07-31 20:56] ErinWeisbart commented on #41
Happy to give it a shot.

I'm not sure I understand what you were initially concerned about? Does my suggested enhancement of

fix your initial concern?

[2020-07-31 21:01] gwaygenomics commented on #41
yeah, I think reworking the full code block to add this enhancement will address my "tinker comment".

More specifically, the two lines of code of this form: `cp_sat_df = image_df[image_df[col] > 1] ` inside the for loop will be overwritten each time through the loop. Therefore, unless I am missing something, `sat_df = cp_sat_df.append(bc_sat_df).drop_duplicates(subset="site") ` will not contain t

[2020-07-31 21:17] #35 closed

[2020-07-31 21:17] #38 closed

[2020-07-31 21:17] #40 closed

[2020-08-04 16:28] ErinWeisbart opened #42 "Different overwrite warning behavior between steps"
When files already exist:
Step 0./1.process-spots throws an error for every file
[code]
Step 0./2.process-cells throws one error at the beginning:
[code]

I think they should have the same behavior to prevent confusion.
I prefer an error for every file.

[2020-08-04 18:10] ErinWeisbart commented on #42
The plot thickens:
cell_counts_151B2-B1-2.tsv doesn't parse site_full into plate, well and site (made in 0./2.process-cells) whereas the other sites do.
I discovered this because all_cellpainting_cellquality_across_sites_by_well.png (made in 0./3.visualize-cell-summary) shows a third well (labeled nan) that contains only 151B2-B1-2. Looking at the cell_count_df in 0./3.visualize-cell-summary shows

[2020-08-04 19:42] ErinWeisbart commented on #42
If I purge all the data from the batch and run from 0./0. through then the parsing happens correctly.

[2020-08-06 16:55] gwaygenomics opened #45 "Revert `site_full` back to `site`"
In #23 (specifically https://github.com/broadinstitute/pooled-cell-painting-profiling-recipe/pull/23#discussion_r456045044) I suggested a column name change within the `0.preprocess` recipe module. This was a bad idea!

It was a bad idea b/c it breaks `0.merge-single-cells.py` at: https://github.com/broadinstitute/pooled-cell-painting-profiling-recipe/blob/1be45bb33e1da71050dbb102352690cf8a08fb7c/

[2020-08-06 21:17] ErinWeisbart commented on #45
Will we stick with nomenclature that `site` is the full string and `Site` is parsed?
e.g. `site = 151_B1_12` and `Site = 12`

[2020-08-06 21:35] gwaygenomics commented on #45
We need to determine `site` nomenclature here and settle on what terms to use. Luckily, I think this is pretty straightforward, but it does require more thought that I had originally used.

The issue specifically is that, in #23, we updated a column name from `site` to `site_full`. After merging the CellProfiler compartments (using `merge_single_cell_compartments()`) we hardcode `pd.assign()` a me

[2020-08-06 21:42] gwaygenomics commented on #45
I think we should definitely stick to `site` being the full label (e.g. "151_B1_12"). This is consistent with our folder structure, and I think it is the path of least resistance to solving this bug. Also, I agree that `site` can parse to `Plate`, and `Well`, but I am not so sure about `Site`. The capitalization being the only difference is pretty fragile. For example, I can imagine wanting to sta

[2020-08-06 21:57] gwaygenomics opened #46 "Add print statements"
in #43 @ErinWeisbart notes:

0./1. and 0./2. already end with print("All sites complete.") but something like print("Step 0./0. processing complete.") would be nice to have at the end of other steps.

I agree that this would be a nice feature to keep consistent. Perhaps we can bundle this fix with #42

[2020-08-06 21:57] gwaygenomics commented on #46
oops! no bug

[2020-08-07 19:18] gwaygenomics commented on #45
In fb8eb0a73af2f1756bf75382a2fb4354652282c0 I made an executive decision to do as proposed in https://github.com/broadinstitute/pooled-cell-painting-profiling-recipe/issues/45#issuecomment-670206381

in c8bbaaaba099a16f5a8e8cd9307cfda35ac116d2 i attempt to fix this in the qc step. This is still broken - will fix asap

[2020-08-10 16:38] #41 closed

[2020-08-10 19:56] gwaygenomics commented on #45
in d98ded387fe376ea310ae23847ea40758de2c388 is a somewhat fragile fix... It works with the current setup, but we really need to create a much improved config system in version 0.2. I believe that an enhanced config system will deal with these inconsistencies automatically and "for free".

This fragile fix should be revisited.

[2020-08-10 20:03] gwaygenomics opened #47 "Enhanced Config System"
In marching towards version 0.1 release, I noticed so much room for improvement in our current config system setup. We were developing the system in real time while dealing with (and developing) the various recipe modules and steps. Now that we are close to version 0.1 - many enhancements became apparent. A couple noted below to revisit before version 0.2

* There are lots of overlapping content b

[2020-08-10 20:08] #45 closed

[2020-08-10 20:14] gwaygenomics opened #48 "Sanitize gene column"
In one recent experiment, the gene column was of the following format: "GENENAME_GUIDEID". Our previous recipe expected a column to just contain the GENENAME. The guide ID could be useful information used to link between different resources (i.e. if the guide id is used in different places in a single experiment, including this info in a _separate_ column would be helpful to retain). A simple solu

[2020-08-10 21:01] gwaygenomics opened #50 "Add multi-plate option"
Currently, the config assumes one plate per experiment. This was the case for early experiments, but this will not be the case for large scale experiments. We should add options to save QC and profiles into separate folders in both modules, and then implement @ErinWeisbart 's suggestion in #20

[2020-08-10 21:16] #48 closed

[2020-08-11 01:52] gwaygenomics opened #51 "Remove example_site requirement in prefilter feature config"
When we update the config files (as part of #47) we should remove the requirement for the user to specify an example site. This is annoying and we can very easily randomly sample a folder name.

[2020-08-11 01:54] gwaygenomics opened #52 "Add logger to capture weld parameters, warnings, and errors"
Necessary for automated welding

[2020-08-20 20:59] gwaygenomics commented on #51
Only halfway addressed in #53 - this code fails when not all data are present in the representative example site selected. Full fix incoming

[2020-10-23 14:17] gwaybio opened #56 "Include summary step for guide + guide abundances (cell count per perturbation)"
Right now, only one file indicating perturbation abundances is output _per site_. We should make retrieving a per-plate perturbation abundance easier, by summarizing perturbation counts in an additional script.

@jbauman214 - unfortunately, your request for this info is not super-readily available. We do calculate this at a per-site level, so it is possible to retrieve. The file name you are looki

[2020-10-23 14:20] gwaygenomics commented on #56
@hillsbury - this sounds like a great first issue to me :) want to take a crack at it?

[2020-10-26 19:47] jbauman214 commented on #56
Any update on this? If no one else has time to aggregate the files, I can try to do it

[2020-10-27 14:44] jbauman214 commented on #56
Pretty high, I think! We'd like to be able to present results at Friday's
Calico meeting, so it would be awesome if aggregated data was available by
EOD Wednesday at the latest. But just lmk if that's not possible!

On Tue, Oct 27, 2020 at 10:22 AM hillsbury <notifications@github.com> wrote:

--
Julia Bauman
Research Associate III - Neal Lab
Cancer Program
Broad Institute of MIT and Harvard

[2020-10-27 15:25] hillsbury commented on #56
I see. I don't want to make any promises right now so feel free to take a stab at it in the meantime as well!

[2020-11-03 16:27] jbauman214 commented on #56
Update on my end: I was able to make a rough comparison to NGS by manually
downloading and merging all of the spreadsheets for a single well of a
single plate, but this took a lot of time and storage space on my laptop.
We'd like to be able to make the comparison for the rest of the data too,
so it would still be great to get aggregated barcode call spreadsheets for
each plate!

On Tue, Oct 27, 20

[2020-11-04 22:08] gwaygenomics commented on #56
@jbauman214 - Glad we were able to get some sense of this!

Unless we need these results immediately, to inform a critical upcoming experiment - I don't think we do, but please LMK if I'm wrong - we will perform this analysis in a sustainable way. Concretely, this means integrating the appropriate python code in the correct recipe file, and then updating the CP151 data weld.

@hillsbury and I are

[2020-11-05 14:40] jt-neal commented on #56
@gwaygenomics - re: urgency, this is one of the (several) key troubleshooting experiments/analyses that we'll want to have for the JSC, but not to inform any imminent experiments, if that helps with prioritization.

[2020-11-05 14:46] gwaygenomics commented on #56
it does, thanks

Can you speak more to exactly what you're after as well? In my mind, all we need is a single per-plate .csv file with three columns 1) Gene 2) sgRNA 3) cell count. We have figures visualizing counts already, but not a step to generate this summary file.

[2020-11-05 18:30] jt-neal commented on #56
@jbauman214 should probably chime in here.

[2020-11-05 19:10] jbauman214 commented on #56
Yes, that would be perfect!

On Thu, Nov 5, 2020 at 1:30 PM jt-neal <notifications@github.com> wrote:

--
Julia Bauman
Research Associate III - Neal Lab
Cancer Program
Broad Institute of MIT and Harvard

[2020-11-23 20:43] gwaygenomics opened #57 "Single cell normalization enhancement option"
@hillsbury and I chatted about adding a single cell normalization option in two different scenarios:

1. When using a single file (output_one_single_file_only set to true)
2. When using single cell files saved across different site folders (output_one_single_file_only set to false)

#15 describes the need for a method to perform single cell normalization in general, but this issue can be used to d

[2020-11-24 00:10] hillsbury commented on #57
error during normalization:
[code]

error during feature selection:
[code]

[2020-12-01 17:33] gwaygenomics commented on #56
@hillsbury - lets add cell quality to the spec outlined in https://github.com/broadinstitute/pooled-cell-painting-profiling-recipe/issues/56#issuecomment-722423464

So, the single file should include four columns:

| Guide | Gene | Cell Count | Cell Quality |
| :----: | :----: | :----------: | :----------: |
| AACGTCG | GENE X | 53 | Perfect |
| AACGTCG | GENE X |  21 | Great |
| ATCAACG | GENE X

[2021-01-04 20:43] hillsbury opened #59 "Maintaining different versions of recipe"
Generally, we want to avoid incorporating experiment/dataset-specific steps into the recipe. However, this became necessary when handling the slightly different column names between CP074 and CP151.

Specifically, CP151 has columns Metadata_Well, Metadata_Site, and Metadata_Plate; CP074 has columns Metadata_Site and Metadata_TopFolder, which contains both plate and well information.

[2021-01-04 20:43] hillsbury commented on #59
Currently will proceed with branches on forked recipe for now

[2021-01-06 22:20] gwaygenomics opened #60 "Update pycytominer version to ignore timestamp diffs in gz files"
cytomining/pycytominer#19 fixed the gzip timestamp issue that was solved via the pandas 1.2.0 release (see pandas-dev/pandas#28103)

We need to update the pooled recipe to use the updated pycytominer github hash to avoid timestamp-only gzip diffs

[2021-01-11 17:57] hillsbury opened #61 "Barcode controls missing from guide abundance summary (cell count per perturbation)"
Currently, control barcodes (sg_nt and NT) are specifically removed in generating summary counts and visualizations in 3.visualize-cell-summary.py, most likely so that NT doesn't dominate in visualizations.

Solutions: update step in weld -or- fix in a separate script

[2021-03-09 20:56] ErinWeisbart commented on #29
Notes from a conversation with @bethac07 :
If you were going to generate anything, I'd say maybe mean of all correlation metrics, or max correlation metric (assuming that if the max is too low, something is wrong). Min just seems like it would generate a value that seems scary even though there is potentially not anything actually wrong.

I think I wouldn't filter, because we do want to see the on

[2021-03-15 17:32] gwaygenomics opened #62 "Add load_features import"
In running `weld.py`, @hillsbury and I saw this error:

[code]

To fix, add `load_features` to the import statement on [line 17](https://github.com/broadinstitute/pooled-cell-painting-profiling-recipe/blob/master/0.preprocess-sites/0.prefilter-features.py#L17)

[2021-03-15 17:48] hillsbury opened #63 "Convert quality_col to list"
New error in running weld:

Traceback (most recent call last):
  File "recipe/0.preprocess-sites/3.visualize-cell-summary.py", line 259, in <module>
    .groupby(gene_cols + barcode_cols + quality_col)["Cell_Count_Per_Guide"]
TypeError: can only concatenate list (not "str") to list

To fix, convert to list as [quality_col]

[2021-03-17 14:28] #62 closed

[2021-03-17 14:28] #63 closed

[2021-03-17 14:28] #61 closed

[2021-05-20 20:25] gwaygenomics opened #66 "Cell count file is outputting NaN for plate, well, and site_location columns"
The issue is in https://github.com/broadinstitute/pooled-cell-painting-profiling-recipe/blob/886a601761ab62f9ee07b4996c6add9689b41077/0.preprocess-sites/2.process-cells.py#L204-L208

somewhere along the line, we introduced missing values. I need to track down.

[2021-05-20 20:57] #66 closed

[2021-05-29 19:07] gwaygenomics opened #69 "Aggregate fails when output_single_file_only option set to False"
In an experiment with >1,000 sites, the aggregate recipe step fails quietly. We do not observe any errors, but the recipe next step is nevertheless performed and not surprisingly fails.

This may be a compute size issue, but it silently failing is still concerning and we should address.

One option is to aggregate each site independently, and then, with the number of single cells per perturbation,

[2021-05-29 21:33] gwaygenomics commented on #69
This is only an approximation to the aggregation and cannot be exactly equivalent to aggregating all single cells at once.

In #70 I implement an `approx_aggregate_piecewise()` function that does precisely the above. Currently, I have it set to only approx aggregate on sites, but we might explore aggregating based on wells as well.

[2021-06-07 21:12] gwaygenomics opened #73 "Error in 4.image-and-segmentation-qc.py"
@ErinWeisbart - I am trying to rerun this step in the recent pooled dataset. It was working smoothly until line 471. I paste the error statement at the end of this issue (file paths intentionally obscured).

If you look at the ["blame"](https://github.com/broadinstitute/pooled-cell-painting-profiling-recipe/blame/7dc291b644f22ed6040d7406b66d4b50b15ea250/0.preprocess-sites/4.image-and-segmentation-

[2021-06-07 21:49] ErinWeisbart commented on #73
I don't get any error, but maybe this info helps in debug:

For my testing I haven't been importing the config but instead just setting the few variables actually needed for this section. What I set is:
[code]

Going into the if statement at 465 I have:
[code]
cp_sat_df looks like this after line 468:
<img width="581" alt="Screen Shot 2021-06-07 at 2 45 50 PM" src="https://user-images.githubuserco

[2021-06-07 22:02] gwaygenomics commented on #73
weird, I wonder what's going on. I am not going to have time to dig into this until after our meeting Friday.

Also, I just now realized that I only have one QC plate figure whereas I probably should have one **per plate**. Is that true? If so, can you open a new issue to track that? (I don't want to get this issue confused with a separate one!)

[2021-06-08 17:33] ErinWeisbart opened #74 "4.image-and-segmentation-qc.py should produce figures on a per-plate basis"
@gwaygenomics I'm happy to address this.

I remember you saying you were going to do some re-factoring to address handling our current experiment structure where a single batch can contain many plates. Will that affect the structure of inputs for this step? (i.e. image_metadata.tsv and cell_count.tsv)? (They already have Metadata_Plate columns that include both plates in the current batch we're wo

[2021-06-08 20:10] gwaygenomics commented on #74
Awesome! I already performed the refactoring (see #71 ) this didn't impact the image-and-segmentation file much ([see here](https://github.com/broadinstitute/pooled-cell-painting-profiling-recipe/blob/7b7f8d6609f93573e3ad62e1add1c6f97cf66bfb/0.preprocess-sites/4.image-and-segmentation-qc.py)).

They key thing in #71 is that the user is now able to define data splits in the config (see below) - and

[2021-06-08 20:21] ErinWeisbart commented on #74
Great!

I think that, given the primary function of this module is to provide an easy-to-peruse visual overview, and that any concerns raised by these overviews would need to be addressed in more detail elsewhere, there's no need to build the split into this step as one would always want to see metrics for the whole plate (and even if one didn't it can't hurt to have the extra information).

(I gu

[2021-06-08 20:25] gwaygenomics commented on #74
sounds good, i'm 100% for doing the simpler thing

[2021-06-15 15:24] gwaygenomics opened #76 "Hardcoding Cells and Nuclei for threshold QC"
In #75, @ErinWeisbart writes about our options to handle the hardcoding issue I commented on in https://github.com/broadinstitute/pooled-cell-painting-profiling-recipe/pull/75#discussion_r647760584

In a Cell Painting workflow, Cells and Nuclei are the two compartments that are always segmented. Segmenting fewer compartments is impossible because we need to identify individual cells and we must us

[2021-06-15 15:35] #74 closed

[2021-06-30 18:43] ErinWeisbart opened #77 "Add output file specifically for comparison to NGS data."
I think current consensus is that we don't want to add NGS comparison to the recipe itself because it requires additional data input. However it is an experiment we are likely to want to do on many datasets.

Can we add an output from the recipe of a file specifically formatted for easy comparison to NGS data?
Will get exact requirements from Maria and report back.

[2021-07-28 14:47] gwaygenomics opened #79 "Skip corrupted site files"
In a recent run, we observed the following error:

[code]

We need to add code to skip these sites, instead of completely erroring out.

[2021-10-21 20:29] ErinWeisbart commented on #25
Because we were unable to replicate this specific error on a second pass, we don't know what caused it the first time through, and we haven't found the same/similar issue in the last year with other datasets, I am closing this issue.

[2021-10-21 20:29] #25 closed

[2021-10-22 16:50] ErinWeisbart opened #81 "Make folders only when necessary"
I'm running the recipe and it errored during 0.preprocess-sites/1.process-spots but it looks like all the folders for 1.profiles are present (but empty). I know it's a fussy request, but browsing extant folders is a helpful and easy way to what has/has not been completed and it would be nice if folder creation was done just before a file is saved into it to rather than en masse ahead of time.

[2021-10-22 18:08] ErinWeisbart opened #82 "Codify new contribution protocol"
Now that Greg has left the Imaging Platform (😢) and started his own lab (😄), we need to figure out how to handle contributions/changes/updates (i.e. PRs) to the Recipe (and Template).

I'm taking over internal ownership of the repos, but we need to codify how PRs are handled now. To that end, @gwaygenomics we need to know how much you would still like to be involved in these repos. I see three opt

[2021-10-22 20:32] ErinWeisbart opened #84 "Config mismatch between recipe and template"
@gwaygenomics can you clarify something for me?

Both the [recipe](https://github.com/broadinstitute/pooled-cell-painting-profiling-recipe) and [template](https://github.com/broadinstitute/pooled-cell-painting-profiling-template) currently have configs but they no longer match.

My understanding is that the recipe is not meant to be used without the template. Therefore, can we remove the [site_pro

[2021-10-27 20:48] #84 closed, assigned to nobody

[2021-11-01 16:15] #52 closed

[2021-11-01 16:47] #79 closed

[2021-11-02 22:29] ErinWeisbart opened #88 "Change Skip Site/Overwrite Behavior in 0.preprocess-sites"
I want to better handle a situation where you have processed only some of your data through 0.preprocess-sites/1.process-spots.py (e.g. uncaught exception stops processing half way). For config options - `perform` either processes or skips the whole module while `force_overwrite` only happens at the file level (i.e. all of the data processing happens and then it decides to save the files or not) s